body,
td {
  max-width: 99%;
  margin: auto;
}

tr {
  padding-right: 11px;
}

/****** header ******/
  .App-header {
    height: 85px;
    z-index: 1001;
    border-bottom: 1px solid #d9d9d9;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url(/static/media/party.30d22f74.jpg);
}

h1 {
  color: white;
}

h1, 
h2,
h3 {
  text-align: center;
  margin: 0;
  text-transform: uppercase;
}

hr {
  background: #D0D7D9;
  height: 1px;
  margin: 20px 0 20px 0;
  border: none;
}

ul {
  padding: 9px;
  list-style: none
}

select {
  font-family: inherit;
  font-size: 100%;
  border-radius: 4px;
  margin-left: 5px;
}

#select-menu {
  font-size: 75%;
}

/****** main content ******/
/*skip link
Code from Udacity Aria lessons
*/
.skip-link{
  position: absolute;
  top: -40px;
  left: 0;
  background-position: 0%;
  color: white;
  padding: 8px;
  z-index: 100;
}

main {
  text-align: left;
  width: 99%;
  background-color: #f0ebf4;
  font-size: calc(10px + 2vmin);
  height: 85vh;
  position: fixed;
  max-width: 99%;
  margin: auto;
  border-top: 3px solid #fff;
}

#map { 
    position: fixed;
    width: 99%;
    height: 36vh;
}

.gm-style .gm-style-iw {
  white-space: pre-line;
  color: #322136;
  font-weight: normal;
}

.gm-style img {
  height: auto;
  width: 86px;
}

/****** sidebar ******/
section h2 {
      color: #322136;

}
section {
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #fff;
  width: 99%;
  border-bottom: 1px solid #d9d9d9;
  height: 46vh;
}

#sidebar {
  height: 100%;
}

#sidebar .hours {
height: auto;
overflow: hidden;
letter-spacing: 0.3px;
padding-bottom: 5px;
}

.filter {
  position: fixed;
  border-bottom: 1px solid #d9d9d9;
  height: 64px;
  border-top: 1px solid #d9d9d9;
  width: 98%;
  text-align: center;
  color: #322136;
  background-color: #4a476d2b;
}

.results-container {
  margin: 0;
  padding-top: 67px;
  height: 73%
}

.venue-photo {
  width: 100%;
  height: auto;
  display: block;
  margin: 0;
}

/* #sidebar h3 {
  text-align: left;
  padding-left: 12px;
  margin: 0;
} */

.attr-container {
  text-align: right;
  padding-right: 9px;
}

.attr {
  height: auto;
  width: 152px;
}

.drop-down-menu
  {
  text-align: left;
  color: #322136;
  width: 100%;
}

#sidebar ul {
  position: relative;
  overflow: scroll;
  height: 160px;
  margin: 0;
  padding-bottom: 0;

}

.list-items {
  -webkit-box-shadow: 2px -1px 10px 0px rgba(0,0,0,0.23);
  -moz-box-shadow: 2px -1px 10px 0px rgba(0,0,0,0.23);
  box-shadow: 2px -1px 10px 0px rgba(0,0,0,0.23);
  padding: 0 0 7px 0px;
  margin-bottom: 7px;
  border-radius: 4px;
  background-color: white;
}

li a {
  padding-left: 2px;
}

.more-details {
  background-color: #4c3f54;
  border-bottom: 0 solid #eee;
  color: #fff;
  display: inline-block;
  font-size: 3vw;
  margin: 0;
  margin-top: 3px;
  padding: 5px 6px 4px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.address {
  font-size: 16px;
  line-height: 1rem;
  margin-top: 6px;
  padding-left: 6px;
  white-space: pre-line;
  }

  .hours-list,
  .rating {
    line-height: 1.1em;
    font-size: 14px;
  }

  .rating {
    margin: 4px 2px 5px;
  }

  .rating span {
    color: #a61e65
  }
/****** footer ******/
#footer {
  background-color: #353a49d4;
    color: #DEDEDE;
    font-size: 8pt;
    letter-spacing: 1px;
    padding: 0px 0;
    text-align: center;
    text-transform: uppercase;
    bottom: -3px;
    position: absolute;
    width: 100%;
    height: 17px;
}

/****** media queries ******/
/* @media screen and (min-width: 414px) {
#sidebar ul {
    display: flex;
    flex-wrap: wrap;
}

.list-items {
    width: 41%;
    height: auto;
  }
} */

@media screen and (min-width: 475px) {
  main {
    border-top: 4px solid #fff;
    /* border-bottom: 1px solid #d9d9d9; */
  }

  .App-header {
    height: 87px;
}

  #map {
    border-top: 1px solid #d9d9d9;
      background: #eee none repeat scroll 0 0;
      height: 100%;
      position: absolute;
      right: 0;
      width: 50%;
      margin: 0;
  }

  section {
    width: 50%;
    border-top: none;
    height: 84vh;
  }

  .filter {
    width: 50%;
    height: 111px;
  }

  #sidebar {
    border-right: 2px solid #d9d9d9;
  }

  .results-container {
    padding-top: 109px;
  }

  #sidebar ul {
    height: 360px;
  }
}

